
.container {
    display: flex;
    justify-content: center;
   
}
.a1 {
    display: flex;
    justify-content: center;
    width: 20%;
border: solid black 2px;
height: 700px;
align-items: center;
}
.a2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: solid black 2px;
    height: 90px;
}
 
.a3 {
    display: flex;
    justify-content: center;
    width: 20%;
border: solid black 2px;
height: 700px;
}

.box1 {
    display: flex;
    border: solid black 2px;
    width: 15%;
    justify-content: center;
    align-items: center;
 
}
.box2 {
    display: flex;
    border: solid black 2px;
     width: 15%;
     justify-content: center;
     align-items: center;
   

}
.box3 {
    display: flex;
    border: solid black 2px;
    width: 15%;
    justify-content: center;
    align-items: center;
    
   
    
}
.box4 {
    display: flex;
    border: solid black 2px;
    width: 15%;
    justify-content: center;
    align-items: center;
    
 

}
.container2 {
    height: 700px;
    width: 100%;
    border: solid black 2px;
}
